/************************* VARIABLES ********************/
$primaryColor: #3084b2;
$secondaryColor: #11998e;

/*************************** Fonts ********************/
$fontExtentions: "OTF";
$fontFamilies: "NeoSansArabic", "29LT-Azer-Regular", "29LT-Azer-Medium",
  "29LT-Azer-Black", "29LT-Azer-Bold";
